/**
 * <%= description %>
 * 
 * Copyright (c) <%= YEAR %>, <%= NAME %>
 * 
 * This source code is licensed under the ISC license found in the
 * LICENSE file in the root directory of this source tree.
 */
